body,
button,
input,
select,
textarea {
	color: black;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0.25rem;
}

.options {
    flex-basis: 24%;
    margin: 1rem 1rem;
    border: 1px dashed black;
    background-color: goldenrod;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.choices {
    display: flex;
    flex-wrap: wrap;
  }

  #orderButton {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: goldenrod;
    color: black;
    font-size: 1rem;
    border-radius: 5px;
}